@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* We use @layer base to apply the background color.
   This ensures it switches to dark gray (#111827) when Dark Mode is on.
   #f3f4f6 is the Tailwind color 'gray-100'.
*/
@layer base {
  body {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
  }
}