@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-slate-900 dark:text-gray-100 transition-colors duration-300;
  }
}
